<!-- 
  Display the list of all users - name, email, and link to dashboard.
  Also, for the current user only, a link to edit their profile.   
  
  If the current user is an admin, present per-user links to promote
  the user to administrator status (or demote the admin user!) or to
  delete this user from the system.  Also, show a link to display 
  users in 'admin-status' format, and to create a new user record
  while remaining signed in as an administrator.  

  The 'Delete User' link invokes a modal dialog, to confirm that
  this is really the user's intent.  This same dialog is used when 
  deleting a product or a successful purchase.  

  An interesting future feature might be to indicate in this list 
  which users are currently signed in - basically Sessions#index.
 -->

<h2>All Users</h2>

<%  if admin?(@current_user)  %>
  <a href='<%= admins_path %>'>Admins List</a> | 
  <a href='<%= new_user_path %>'>Create New User</a>
<%  end  %>

<%  if @users.length > 0 %>
  <table class='table table-striped table-hover table-condensed'>
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    <%  if admin?(@current_user)  %>
      <th>Type</th>
      <th>Admin Actions</th>
    <%  end   %>
    </thead>
    <tbody>
    <%  @users.each{ | user | %>
      <tr>
        <td><a href='<%= user_path(user.id) %>'><%= user.first_name + ' ' + user.last_name %></td>
        <td><%= user.email %></td>
        <td>
      <%  if current_user?(user)  %>
          <a href='<%= edit_user_path(user.id) %>'>Edit Profile</a>
      <%  end   %>
        </td>
      <%  if admin?(@current_user)  %>
        <% if admin?(user) %>
            <td>Admin</td>
            <td><a href='<%= admin_path(user.id) %>' data-method='delete'>Demote</a>
        <% else %>
            <td>User</td>
            <td><a href='<%= admin_path(user.id) %>' data-method='post'>Promote</a>
        <% end %>
              |
              <a data-toggle='modal' href='#deleteModal' user-id='<%= user.id %>' class='delete-user'>
              Delete User</a>
            </td>
      <%  end   %>
      </tr>
    <%  } %>
    </tbody>
  </table>
<%  else %>
  <p>None</p>
<%  end %>

