<!-- 
  Display a user's dashboard - each product they are offering,
  each sale they have made, and each purchase they have made.  
  Also, show the total dollar amount of the offers, sales and
  purchases.  Finally, provide links to edit or remove an offer,
  cancel a sale or cancel a purchase (these 'cancel' links are
  a bit questionable in the real-world, but are presented to
  demonstrate technical understanding).   
  
  Note that all dashboards are open for viewing by all users.  
  So, only show the edit/remove product links if this is OUR
  dashboard, or if we are an admin.  Also, only show 'cancel' 
  links if we are the current user, or if we are admin, or if
  we are the OTHER side of a settled purchase/sale.  

  The 'Remove Product', 'Cancel Sale' and 'Cancel Purchase'
  links are defended by a modal dialog, to confirm that this 
  is really the user's intent.  It is the same dialog as
  used when an admin deletes a user account.  
 -->
 
<h2><%= @user.first_name %>'s Dashboard</h2>

<%  if current_user?(@user)  %>
  <a href='<%= new_product_path %>'>Sell a Product</a>
<%  end  %>

<h3><%= @user.first_name %>'s products for sale:</h3>
<%  if @offers.length > 0 %>
  <table class='table table-striped table-hover table-condensed'>
    <thead>
      <th>Product</th>
      <th>Posted</th>
      <th>Amount</th>
    <%  if admin?(@current_user) || current_user?(@user)  %>
      <th>Action</th>
    <%  end  %>
    </thead>
    <tbody>
  <%  @offers.each{|offer| %>
      <tr>
        <td><a href='<%= product_path(offer.id) %>'><%= offer.name %></a></td>
        <td><%= l(offer.created_at, format: :notime) %></td>
        <td><%= "$%6.2f" % offer.amount %></td>
    <%  if admin?(@current_user) || current_user?(@user)  %>
        <td>
          <a href='<%= edit_product_path(offer.id) %>'>Edit Product</a>
           | 
          <a data-toggle='modal' href='#deleteModal' product-id='<%= offer.id %>' class='delete-product'>Remove Product</a>
        </td>
    <%  end  %>
      </tr>
  <%  }   %>
    </tbody>
  </table>

  <p class='text-right'>
    Total value of items: <strong><%= @offers_sum %></strong>
  </p>
<%  else %>
  <p>None</p>
<%  end   %>

<h3><%= @user.first_name %>'s products already sold:</h3>
<%  if @sales.length > 0 %>
  <table class='table table-striped table-hover table-condensed'>
    <thead>
      <th>Product</th>
      <th>Posted</th>
      <th>Bought</th>
      <th>Buyer</th>
      <th>Amount</th>
      <th>Action</th>
    </thead>
    <tbody>
  <%  @sales.each{ |sale| %>
      <tr>
        <td><a href='<%= product_path(sale.prod_id) %>'><%= sale.prod_name %></a></td>
        <td><%= l(sale.post_date.to_time, format: :notime) %></td>
        <td><%= l(sale.sale_date.to_time, format: :notime) %></td>
        <td><a href='<%= user_path(sale.buyer_id) %>'><%= sale.buyer_name %></a></td>
        <td><%= "$%6.2f" % sale.prod_amt %></td>
        <td>
    <%  if admin?(@current_user) || current_user?(@user) || (@current_user.id == sale.buyer_id) %>
          <a data-toggle='modal' href='#deleteModal' sale-id='<%= sale.id %>' class='delete-sale'>Cancel Sale</a>
    <%  end  %>
        </td>
      </tr>
  <%  }   %>
    </tbody>
  </table>

  <p class='text-right'>
    Total amount sold: <strong><%= @sales_sum %></strong>
  </p>
<%  else %>
  <p>None</p>
<%  end   %>

<h3><%= @user.first_name %>'s purchases:</h3>
<%  if @purchases.length > 0 %>
  <table class='table table-striped table-hover table-condensed'>
    <thead>
      <th>Product</th>
      <th>Seller</th>
      <th>Posted</th>
      <th>Bought</th>
      <th>Amount</th>
      <th>Action</th>
    </thead>
    <tbody>
  <%  @purchases.each{|purchase| %>
      <tr>
        <td><a href='<%= product_path(purchase.prod_id) %>'><%= purchase.prod_name %></a></td>
        <td><a href='<%= user_path(purchase.seller_id) %>'><%= purchase.seller_name %></a></td>
        <td><%= l(purchase.post_date.to_time, format: :notime) %></td>
        <td><%= l(purchase.sale_date.to_time, format: :notime) %></td>
        <td><%= "$%6.2f" % purchase.prod_amt %></td>
        <td>
    <%  if admin?(@current_user) || current_user?(@user) || (@current_user.id == purchase.seller_id) %>
          <a data-toggle='modal' href='#deleteModal' sale-id='<%= purchase.sale_id %>' class='delete-purchase'>Cancel Purchase</a>
    <%  end  %>
        </td>
      </tr>
  <%  }   %>
    </tbody>
  </table>

  <p class='text-right'>
    Total amount spent: <strong><%= @purch_sum %></strong>
  </p>
<%  else %>
  <p>None</p>
<%  end   %>
