<!-- 
  Display details about an item for sale - name, amount, seller,
  description, and links to Buy the item.  Note that all items 
  are open for viewing by all users. 

  Also if the current user is the seller (or an admin), present
  links to edit or remove the item.   
  
  The 'Remove Product'  link is defended by a modal dialog, to 
  confirm that this is really the user's intent.  It is the same
  dialog as used when deleting a sale/purchase (or when an admin 
  removes a user).  
 -->

<h2>Product Details: ID <%= @product.id %></h2>

<%= link_to "Back to All Products", products_path %>

<table class='table table-striped table-hover table-condensed'>
  <thead>
    <th>Name</th>
    <th>Amount</th>
    <th>Seller</th>
    <th>Action</th>   <!-- Actions -->
  </thead>
  <tbody>
    <tr>
      <td><%= @product.name %></td>
      <td>$<%= "%6.2f" % @product.amount %></td>
      <td><%= @product.seller.first_name + ' ' + @product.seller.last_name %></td>
      <td>
        <a href='<%= create_sale_path(@product.id) %>' data-method='post'>Buy</a>
<%  if admin?(@current_user) || (@current_user.id == @product.seller.id)   %>
         | 
        <a href='<%= edit_product_path(@product.id) %>'>Edit</a>
         | 
        <a data-toggle='modal' href='#deleteModal' product-id='<%= @product.id %>' class='delete-product'>Remove</a>
<%  end   %>
      </td>
    </tr>
  </tbody>
</table>

<p><%= @product.description %></td></p>