<!-- 
  Display the list of all sales - item, seller and date offered, 
  amount, buyer and date bought.  

  Also, if the current user was either buyer or seller for this 
  sale (or if the current user is a system admin), include a
  link to cancel this sale (unlikely in the real world).     
  
  The 'Cancel Sale' link invokes a modal dialog, to confirm that
  this is really the user's intent.  This same dialog is used when 
  deleting a product, a successful purchase, or a user.  
 -->
 
 <h2>Previous Sales</h2>

<%  if @sales.length > 0 %>

  <table class='table table-striped table-hover table-condensed'>
    <thead>
      <th>Product</th>
      <th>Seller</th>
      <th>Posted</th>
      <th>Bought</th>
      <th>Buyer</th>
      <th>Amount</th>
      <th><% if admin?(@current_user) %>Action<% end %></th>
    </thead>
    <tbody>
<%  @sales.each{ | sale |   %>
      <tr>
        <td><a href='<%= product_path(sale.prod_id) %>'><%= sale.prod_name %></a></td>
        <td><a href='<%= user_path(sale.seller_id) %>'><%= sale.seller_name %></a></td>
        <td><%= l(sale.post_date.to_time, format: :notime) %></td>
        <td><%= l(sale.sale_date.to_time, format: :notime) %></td>
        <td><a href='<%= user_path(sale.buyer_id) %>'><%= sale.buyer_name %></a></td>
        <td><%= "$%6.2f" % sale.prod_amt %></td>
        <td>
<%      if admin?(@current_user)  || (@current_user.id == sale.buyer_id) || (@current_user.id == sale.seller_id) %>
          <a data-toggle='modal' href='#deleteModal' sale-id='<%= sale.id %>' class='delete-sale'>Cancel Sale</a>
<%      end   %>
        </td>
      </tr>
<%    }   %>
    </tbody>
  </table>

  <p class='text-right'>Total amount sold: <strong><%= @sum %></strong></p>

<%  else %>
  <p>None</p>
<%  end %>
