<!-- 
  Display the list of all sales - item, seller and date offered, 
  amount, buyer and date bought.  

  Also, if the current user was either buyer or seller for this 
  sale (or if the current user is a system admin), include a
  link to cancel this sale (unlikely in the real world).     
  
  The 'Cancel Sale' link invokes a modal dialog, to confirm that
  this is really the user's intent.  This same dialog is used when 
  deleting a product, a successful purchase, or a user.  
 -->
 
 <h2>Previous Sales</h2>

<%  if @sales.length > 0 %>

<table class='table table-striped table-hover table-condensed'>
  <thead>
    <th>Product</th>
    <th>Date Offered</th>
    <th>Seller</th>
    <th>Amount</th>
    <th>Date Bought</th>
    <th>Buyer</th>
    <th><% if admin?(@current_user) %>Action<% end %></th>
  </thead>
  <tbody>
<%    @sales.each{ | sale | %>
    <tr>
      <td><%= sale.product.name %></td>
      <td><%= sale.product.created_at.strftime("%b %d, %Y") %></td>
      <td><%= sale.product.seller.first_name + ' ' + sale.product.seller.last_name %></td>
      <td>$<%= "%6.2f" % sale.product.amount %></td>
      <td><%= sale.created_at.strftime("%b %d, %Y") %></td>
      <td><%= sale.buyer.first_name + ' ' + sale.buyer.last_name %></td>
      <td>
<%      if admin?(@current_user)  || (@current_user.id == sale.buyer.id) || (@current_user.id == sale.product.seller_id) %>
        <a data-toggle='modal' href='#deleteModal' sale-id='<%= sale.id %>' class='delete-sale'>Cancel Sale</a>
<%      end   %>
      </td>
    </tr>
<%    } %>
  </tbody>
</table>

<p class='text-right'>
  Total amount sold: <strong>$<%= "%6.2f" % @sales.reduce(0){|sum, s| sum+s.product.amount } %></strong>
</p>

<%  else %>
  <p>None</p>
<%  end %>
