<!DOCTYPE html>

<!-- 
  All views in this app use this same view template.
  It includes basic HTML5 setup, our css and js files,
  our authenticity token, and the built-in UI elements
  that are present in each page.

  These built-in elements include the navigation bar,
  any error/notice messages, and a modal dialog (to
  confirm deletions).  
 -->

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Shoe Business" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Blackbelt" %>">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  
  </head>
 
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
  
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= render 'layouts/delete_modal' %>
       <%= yield %>
    </main>
  
  </body>
</html>
