<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Shoe Bonanza" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Blackbelt" %>">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script type="text/javascript">

  $(document).ready(function()
  { 
    $('body').on('click', '.delete-user', function()
    {
      var user_id = $(this).attr('user-id');
      $('.modal-header .modal-title').html("Remove User");
      $('#modal-form').attr('action', '/users/' + user_id);
    });

    $('body').on('click', '.delete-product', function()
    {
      var product_id = $(this).attr('product-id');
      $('.modal-header .modal-title').html("Remove Product");
      $('#modal-form').attr('action', '/products/' + product_id);
    });

    $('body').on('click', '.delete-sale', function()
    {
      var sale_id = $(this).attr('sale-id');
      $('.modal-header .modal-title').html("Remove Sale");
      $('#modal-form').attr('action', '/sales/' + sale_id);
    });
    
  }); 

</script>
    <%= csrf_meta_tags %>
  
  </head>
 
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
  
    <main role="main">
       <%= render 'layouts/delete_modal' %>
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  
  </body>
</html>
